<div id="config-wrap-{{id}}">
<ul class="obj-tabs tabs">
    <li class="tab disabled"><a class="name" href="#">{{name}}</a></li>
    <li class="tab"><a class="active" href="#blocklyDiv-{{id}}"><i class="fa fa-puzzle-piece"></i> Code</a></li>
    <li class="tab"><a href="#settings-{{id}}"><i class="fa fa-sliders"></i> Settings</a></li>
    <li class="tab"><a href="#material-{{id}}"><i class="fa fa-paint-brush"></i> Skin</a></li>
</ul>
<div class="divider"></div>
<div class="row">
    <div id="blocklyDiv-{{id}}" style="position: absolute"></div>
    <div id="settings-{{id}}" class="col s12">{{{settingsForm}}}</div>
    <div id="material-{{id}}" class="col s12">{{{materialForm}}}</div>
</div>
</div>




